main{
    .main__buscar{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 1.5vh;
        .main__buscar__btn{
            right: 0;
            background: #ff2a34;
            width: 50px;
            height: 7vh;
            line-height: 50px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color: white;
            font-size: 20px;
            border-radius: 30%;
            cursor: pointer;
        }
    }
    .main__buscar input{
        width: 30vw;
        height: 5.5vh;
        padding: 0 20px;
        font-size: 18px;
        color: black;
        outline: none;
        border: 1px solid silver;
        border-radius: 10px;
    }
}