@import "variables";
.main{
    .index__main{
        display: grid;
        grid-template-areas: 
        "canal__uno canal__dos"
        "canal__tres canal__cuatro"
        "canal__cinco canal__seis"
        "canal__siete canal__ocho"
        "canal__nueve canal__diez"
        "canal__once canal__doce";
        height: 87vh;
        grid-template-columns: 320px 320px;
        grid-template-rows: 180px 180px 180px;
        padding: 2vh 5vw;
        grid-column-gap: 4vw;
        grid-row-gap: 4vh;
        justify-content: center;
        align-content: space-between;
        overflow-y: scroll;
        .index__main__area{
            width: 320px;
            height: 180px;
            .index__main__area__content{
                width: 320px;
                height: 180px;
                display: flex;
                justify-content: center;
                align-items: center;
                box-shadow: 0 3px 8px 3px black;
                border-radius: 25px;
                position: relative;
                .index__main__area__content__img{
                    width: 320px;
                    height: 180px;
                    margin: 0;
                    border-radius: 25px;
                    position: relative;
                }
                .index__main__area__content__img__shadow{
                    position: absolute;
                    z-index: 2;
                    width: 320px;
                    height: 180px;
                    background-color: rgba(0, 0, 0, 0.801);
                    border-radius: 25px;
                    display: none;
                    justify-content: center;
                    align-items: center;
                    color: aliceblue;
                    a{
                        .index__main__area__content__img__shadow__text{
                            text-decoration: none;
                            font-family: 'Open Sans', sans-serif;
                            font-size: $sizeAbsolutoTexto/1.5;
                            color: rgb(255, 255, 255);
                        }
                    }
                }
            }
            .index__main__area__content:hover > .index__main__area__content__img__shadow{
                display: flex;
            }
        }
        @include areasMain;
        /*.area__uno{
            grid-area: canal__uno
        }
        .area__dos{
            grid-area: canal__dos
        }
        .area__tres{
            grid-area: canal__tres
        }
        .area__cuatro{
            grid-area: canal__cuatro
        }
        .area__cinco{
            grid-area: canal__cinco
        }
        .area__seis{
            grid-area: canal__seis
        }*/
    }
    .index__main::-webkit-scrollbar{
        width: 12px;
        background-color: #2E2532;
    }
    .index__main::-webkit-scrollbar-track{
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.9);
        border-radius: 10px;
        background-color: #2E2532;
    }
    .index__main::-webkit-scrollbar-thumb{
        border-radius: 10px;
        background-color: #D62929;
        background-image: -webkit-linear-gradient(90deg,transparent,rgba(0, 0, 0, 0.4) 50%,transparent,transparent)
    }
}
@media only screen and (min-width: 350px) and (max-width: 960px){
    .main{
        .index__main{
            display: flex;
            flex-direction: row;
            height: 35vh;
            width: auto;
            justify-content: space-between;
            align-items: center;
            padding: 0;
            overflow-x: scroll;
            overflow-y: hidden;
            grid-column-gap: 0;
            grid-row-gap: 0;
            grid-template-columns: 0;
            grid-template-rows: 0;
            .index__main__area{
                width: 320px;
                height: 180px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 0;
                margin: 15px;
                .index__main__area__content{
                    width: 320px;
                    height: 180px;
                    box-shadow: 0 3px 8px 3px black;
                    border-radius: 25px;
                    position: relative;
                    .index__main__area__content__img{
                        width: 320px;
                        height: 180px;
                        margin: 0;
                        border-radius: 25px;
                        position: relative;
                    }
                    .index__main__area__content__img__shadow{
                        position: absolute;
                        z-index: 2;
                        width: 320px;
                        height: 180px;
                        background-color: rgba(0, 0, 0, 0.801);
                        border-radius: 25px;
                        display: none;
                        justify-content: center;
                        align-items: center;
                        color: aliceblue;
                        a{
                            .index__main__area__content__img__shadow__text{
                                text-decoration: none;
                                font-family: 'Open Sans', sans-serif;
                                font-size: $sizeAbsolutoTexto/1.5;
                                color: rgb(255, 255, 255);
                            }
                        }
                    }
                }
                .index__main__area__content:hover > .index__main__area__content__img__shadow{
                    display: flex;
                }
            }
        }
        .index__main::-webkit-scrollbar{
            width: 12px;
            background-color: #2E2532;
        }
        .index__main::-webkit-scrollbar-track{
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.9);
            border-radius: 10px;
            background-color: #2E2532;
        }
        .index__main::-webkit-scrollbar-thumb{
            border-radius: 10px;
            background-color: #D62929;
            background-image: -webkit-linear-gradient(90deg,transparent,rgba(0, 0, 0, 0.4) 50%,transparent,transparent)
        }
    }
}