.aside{
    .milista__aside{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 100vh;
        .milista__aside__video{
            width: 360px;
            height: 180px;
            .milista__aside__video__estilo{
            width: 321px;
            height: 180px;
            }
        }
        h1{
            font-family: 'Playfair Display', serif;
            color: #FF2A34;
            font-size: 250%;
        }
    }
}