@import "variables";
.main{
    .milista__main{
        display: grid;
        grid-template-areas: 
        "canalUno canalDos"
        "canalTres canalCuatro"
        "canalCinco canalSeis";
        height: 87vh;
        grid-template-columns: 320px 320px;
        grid-template-rows: 180px 180px 180px;
        padding: 2vh 5vw;
        grid-column-gap: 4vw;
        grid-row-gap: 4vh;
        .milista__main__area{
            .milista__main__area__add{
                @include dimension(180px,320px);
                display: flex;
                justify-content: center;
                align-items: center;
                border: 2px solid white;
                border-radius: 25px;
                .milista__main__area__add__logo{
                    width: 3em;
                }
            }
            
        }
        .area__uno{
            grid-area: canalUno
        }
        .area__dos{
            grid-area: canalDos
        }
        .area__tres{
            grid-area: canalTres
        }
        .area__cuatro{
            grid-area: canalCuatro
        }
        .area__cinco{
            grid-area: canalCinco
        }
        .area__seis{
            grid-area: canalSeis
        }
    }
}

@media only screen and (min-width: 350px) and (max-width: 960px){
    .main{
        .milista__main{
            display: flex;
            flex-direction: row;
            @include dimension(35vh,auto);
            justify-content: space-between;
            align-items: center;
            padding: 0;
            overflow-x: scroll;
            overflow-y: hidden;
            grid-column-gap: 0;
            grid-row-gap: 0;
            grid-template-columns: 0;
            grid-template-rows: 0;
            .milista__main__area{
                @include dimension(190px,360px);
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 0;
                margin: 15px;
                .milista__main__area__add{
                    @include dimension(190px,360px);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border: 2px solid white;
                    border-radius: 25px;
                    .milista__main__area__add__logo{
                        width: 3em;
                    }
                }
                
            }
            .area__uno{
                grid-area: canalUno
            }
            .area__dos{
                grid-area: canalDos
            }
            .area__tres{
                grid-area: canalTres
            }
            .area__cuatro{
                grid-area: canalCuatro
            }
            .area__cinco{
                grid-area: canalCinco
            }
            .area__seis{
                grid-area: canalSeis
            }
        }
        .milista__main::-webkit-scrollbar{
            width: 12px;
            background-color: #2E2532;
        }
        .milista__main::-webkit-scrollbar-track{
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.9);
            border-radius: 10px;
            background-color: #2E2532;
        }
        .milista__main::-webkit-scrollbar-thumb{
            border-radius: 10px;
            background-color: #D62929;
            background-image: -webkit-linear-gradient(90deg,transparent,rgba(0, 0, 0, 0.4) 50%,transparent,transparent)
        }
    }
}