.main{
    .milista__main{
        display: grid;
        grid-template-areas: 
        "canalUno canalDos"
        "canalTres canalCuatro"
        "canalCinco canalSeis";
        height: 87vh;
        grid-template-columns: 320px 320px;
        grid-template-rows: 180px 180px 180px;
        padding: 2vh 5vw;
        grid-column-gap: 4vw;
        grid-row-gap: 4vh;
        .milista__main__area{
            .milista__main__area__add{
                width: 320px;
                height: 180px;
                display: flex;
                justify-content: center;
                align-items: center;
                border: 2px solid white;
                border-radius: 25px;
                .milista__main__area__add__logo{
                    width: 3em;
                }
            }
            
        }
        .area__uno{
            grid-area: canalUno
        }
        .area__dos{
            grid-area: canalDos
        }
        .area__tres{
            grid-area: canalTres
        }
        .area__cuatro{
            grid-area: canalCuatro
        }
        .area__cinco{
            grid-area: canalCinco
        }
        .area__seis{
            grid-area: canalSeis
        }
    }
}