.header{
    .header__nav{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100vh;
        width: 15vw;
        .header__nav__logolink{
            margin-left: auto;
            margin-right: auto;
            .header__nav__logo{
                width: 60px;
                margin-top: 10px;
                border-radius: 30%;
                box-shadow: 0 1px 8px 1px black;
            }
        }
        .header__nav__list{
            display: flex;
            flex-direction: column;
            justify-content: center;
            .header__nav__list__bg{
                width: 140px;
                height: 40px;
                margin: 2vh auto;
                background-color: #413446;
                border-radius: 10px;
                display: flex;
                flex-direction: row;
                align-items: center;
                box-shadow: 0 1px 5px 4px #2E2532;
                .header__nav__list__link{
                    display: flex;
                    flex-direction: row;
                    text-decoration: none;
                    align-items: center;
                }
                .header__nav__list__icon{
                    width: 1.5em;
                    height: 1.5em;
                    margin-left: 1vw;
                }
                .header__nav__list__text{
                    display: inline-block;
                    margin-left: 1vw;
                    margin-bottom: 0;
                    font-family: 'Ubuntu', sans-serif;
                    font-weight: 700;
                    color:white;
                }
            }
            .header__nav__list__bg:hover{
                background-color: #ff2a34;
                transition: all 0.5s;
            }
        }
        div{
            .header__nav__list__bg{
                width: 140px;
                height: 40px;
                margin: 2vh auto;
                background-color: #413446;
                border-radius: 10px;
                display: flex;
                flex-direction: row;
                align-items: center;
                box-shadow: 0 1px 5px 4px #2E2532;
                .header__nav__list__link{
                    display: flex;
                    flex-direction: row;
                    text-decoration: none;
                    align-items: center;
                }
                .header__nav__list__icon{
                    width: 1.5em;
                    height: 1.5em;
                    margin-left: 1vw;
                }
                .header__nav__list__text{
                    display: inline-block;
                    margin-left: 1vw;
                    margin-bottom: 0;
                    font-family: 'Ubuntu', sans-serif;
                    font-weight: 700;
                    color:white;
                }
            }
        }
    }
}
@media only screen and (min-width: 350px) and (max-width: 960px){
    .header{
        .header__nav{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            height: 8vh;
            width: 100vw;
            .header__nav__logolink{
                margin: 0;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                .header__nav__logo{
                    width: 40px;
                    margin: 7px;
                    border-radius: 30%;
                    box-shadow: 0 1px 8px 1px black;
                }
            }
            .header__nav__list{
                margin: 0;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                .header__nav__list__bg{
                    margin: 7px;
                    width: 40px;
                    height: 40px;
                    background-color: #413446;
                    border-radius: 10px;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    box-shadow: 0 1px 5px 4px #2E2532;
                    .header__nav__list__link{
                        display: flex;
                        flex-direction: row;
                        text-decoration: none;
                        align-items: center;
                    }
                    .header__nav__list__icon{
                        width: 1.5em;
                        height: 1.5em;
                        margin-left: 0;
                    }
                    .header__nav__list__text{
                        display: none;
                    }
                }
                .header__nav__list__bg:hover{
                    background-color: #ff2a34;
                    transition: all 0.5s;
                }
            }
            div{
                margin: 0;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                .header__nav__list__bg{
                    margin: 7px;
                    width: 40px;
                    height: 40px;
                    background-color: #413446;
                    border-radius: 10px;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    box-shadow: 0 1px 5px 4px #2E2532;
                    .header__nav__list__link{
                        display: flex;
                        flex-direction: row;
                        text-decoration: none;
                        align-items: center;
                    }
                    .header__nav__list__icon{
                        width: 1.5em;
                        height: 1.5em;
                        margin-left: 0;
                    }
                    .header__nav__list__text{
                        display: none;
                    }
                }
            }
        }
    }
}