@import "nav";
@import "barraBusqueda";
@import "indexMain";
@import "indexAside";
@import "milistaMain";
@import "milistaAside";
@import "peliculasMain";
@import "peliculasAside";
@import "seriesMain";
@import "seriesAside";
@import "ajustesMain";
@import "ajustesAside";
@import "variables";
body{
    .grid{
        display: grid;
        grid-template-areas: 
        "headerGrid seccionUno seccionDos"
        "headerGrid pie pie";
        grid-template-columns: 3fr 11fr 6fr;
        grid-template-rows: 97vh 3vh;
        .header{
            background-color: #413446;
            grid-area: headerGrid;
        }
        .main{
            background-color: #2E2532;
            grid-area: seccionUno;
        }
        .aside{
            background-color: #2E2532;
            grid-area: seccionDos;
        }
        .footer{
            grid-area: pie;
            background-color: #2E2532;
            display: flex;
            flex-direction: row;
            justify-content: center;
            p{
                font-size: 80%;
                font-family: 'Open Sans', sans-serif;
                font-weight: 300;
                color: white;
            }
        }
    }
}
@media only screen and (min-width: 350px) and (max-width: 960px){
    body{
        .grid{
            @include dimension(100vh,100vw);
            display: flex;
            flex-direction: column;
            
            .header{
                @include dimension(8vh,100vw);
            }
            .main{
                @include dimension(45vh,100vw);
            }
            .aside{
                @include dimension(45vh,100vw);
            }
            .footer{
                @include dimension(2vh,100vw);
                p{
                    margin: 0;
                    font-size: 50%;
                }
            }
        }
    }
}